body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
}

.hero-div{
    background-color: #1F2937;
    padding-bottom: 100px;
}

.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-header h3{
    color:white;
}

.hero-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.hero-img{
    width:400px;
    height:180px;
    border-radius: 5px;
}

.hero-text{
    width: 350px!important;
}

.hero-text>h1{
    color:white;
}

.hero-text,p{
    color:lightgrey;
}

.hero-cta{
padding: 10px 35px;
background-color: aquamarine;
border-radius: 15px;
text-decoration: none;
}

.nav-header-links a{
    text-decoration: none;
    color:grey;
}

.section-randominfo{
    padding: 50px 0px 100px 0px;
}

.info-boxes{
    display:flex;
    justify-content: center;
  
}

.random-information-boxes p{
    margin: 10px auto;
    width: 55%;
    text-align: center;

}

#box{
    border: solid 1px blue;
    border-radius: 3px;
    height: 125px;
    width: 125px;
    margin: auto;
   
}

.section-randominfo>h1{
    text-align: center;
    margin-bottom:75px;
}

.testimonial-section{
    background-color: lightgray;
    padding: 100px 300px;
}

.quote{
    font-style: italic;
    text-align: center;
}

.quote-sub{
    text-align: right;
}

.footer-section-cta{
    background-color: blue;
    padding: 5px 75px;
    border-radius: 5px;
    margin: 100px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-cta{
    border: 2px solid white;
    padding: 10px 35px;
    margin: 50px;
    border-radius: 15px;
    color:white;
    text-decoration: none;

}

.copyright{
    background-color: #1F2937;
    height: 100px;
    width: 100%;
    text-align: center;
}

.copyright>p{
    margin: 50px 0px;
    color: white;
}